<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Azure.Batch.Samples.Common.AccountSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <userSettings>
        <Microsoft.Azure.Batch.Samples.Common.AccountSettings>
            <setting name="BatchServiceUrl" serializeAs="String">
                <value>https://tamrambatch.westcentralus.batch.azure.com</value>
            </setting>
            <setting name="BatchAccountName" serializeAs="String">
                <value>tamrambatch</value>
            </setting>
            <setting name="BatchAccountKey" serializeAs="String">
                <value>a3HjJUjKtsuXwN7pshA7XdL3C6OAQQsof4+EML7n8IlyGdqJloGfk1qkbmfzWzdWafP+mu9jbjDwHB65UBEzZw==</value>
            </setting>
            <setting name="StorageServiceUrl" serializeAs="String">
                <value>tamrambatchstorage.core.windows.net</value>
            </setting>
            <setting name="StorageAccountName" serializeAs="String">
                <value>tamrambatchstorage</value>
            </setting>
            <setting name="StorageAccountKey" serializeAs="String">
                <value>PPBIRREmpThVmZ69urBX10vgN3QlYptajzL3kE+Ig4s0qfQNyLZy8RsKn9V+BDN6GynA6cteUWPNtVDMPz1IOA==</value>
            </setting>
        </Microsoft.Azure.Batch.Samples.Common.AccountSettings>
    </userSettings>
</configuration>