<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Azure.Batch.Samples.Common.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Azure.Batch.Samples.Common.Settings>
            <setting name="BatchServiceUrl" serializeAs="String">
                <value>https://(YourAccount).(region).batch.azure.com</value>
            </setting>
            <setting name="BatchAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchAccountKey" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageServiceUrl" serializeAs="String">
                <value>core.windows.net</value>
            </setting>
            <setting name="StorageAccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="StorageAccountKey" serializeAs="String">
                <value />
            </setting>
        </Microsoft.Azure.Batch.Samples.Common.Settings>
    </userSettings>
</configuration>