<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Microsoft.Azure.Batch.Samples.TopNWordsSample.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Microsoft.Azure.Batch.Samples.TopNWordsSample.Settings>
      <setting name="NumberOfTasks" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="PoolNodeCount" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TopWordCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="BookFileName" serializeAs="String">
        <value>book.txt</value>
      </setting>
      <setting name="PoolId" serializeAs="String">
        <value>TopNWordsPool</value>
      </setting>
      <setting name="DeleteJob" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteContainer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="JobId" serializeAs="String">
        <value>TopNWordsJob</value>
      </setting>
      <setting name="ShouldDeletePool" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShouldDeleteJob" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShouldDeleteContainer" serializeAs="String">
        <value>True</value>
      </setting>
    </Microsoft.Azure.Batch.Samples.TopNWordsSample.Settings>
  </userSettings>
</configuration>
