<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BatchServiceUrl" value="https://batch.core.windows.net" />
        <add key="Account" value="" />
        <add key="Key" value="" />
        <add key="StorageAccountName" value="" />
        <add key="StorageAccountKey" value="" />
        <add key="StorageAccountBlobEndpoint" value="https://(account).blob.core.windows.net" />
        <add key="NumTasks" value="69" />
		<add key="PoolSize" value="3" />
		<add key="BookFileName" value="book.txt" />
		<add key="PoolName" value="" /> <!--Leave it as empty string if you want the program to create and cleanup the pool-->
		<add key="UploadResources" value="true" /> <!--Specifies whether to upload dependent dll/exe to blob-->
		<add key="ResourceContainerPrefix" value="" /> <!--Specifies the blob container's SAS Url containing dependent dll/exe  -->
		<add key="DeleteWorkitem" value="true" /> <!--Delete the workitem after the end of program-->
		<add key="DeleteContainer" value="true" /> <!--Delete the container storing blobs for the sample-->
		<add key="NumTopWords" value="10" /> <!--Number of top N words for each blob-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
