<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BatchServiceUrl" value="https://batch.core.windows.net" />
    <add key="Account" value="" />
    <add key="Key" value="" />
    <add key="NumTasks" value="20" />
    <add key="NumTvms" value="3" />
    <add key="InputBlobPrefix" value="img" />
    <add key="NumInputBlobs" value="400" />
    <add key="UploadResources" value="true" /> <!-- Set to true for first time. No repetitive upload necessary later. -->
    <add key="InitStorage" value="true" /> <!-- if this is true, the following 3 SAS (input/output/resource) signature will be ignored -->
    <add key="InputDataContainerSAS" value="" />
    <add key="OutputContainerSAS" value="" />
    <add key="ResourcesSAS" value="" />
    <add key="ImageMagickExeSAS" value="" /> <!-- Fill this out as per the instructions from readme.pdf -->
    <add key="StorageKey" value="" />
    <add key="StorageAccount" value="" />
    <add key="CreatePool" value="false" />
    <add key="PoolName" value="ImageProcessingDemo" />
    <add key="DeletePool" value="false" />
    <add key="DeleteWorkitem" value="true" />
    <add key="WaitForCompletion" value="true" />
    <add key="WaitForPool" value="true" />
    <add key="LoggingLevel" value="None" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>