<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Azure.Batch.Samples.HelloWorld.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Microsoft.Azure.Batch.Samples.HelloWorld.Settings>
      <setting name="PoolTargetNodeCount" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="PoolNodeVirtualMachineSize" serializeAs="String">
        <value>small</value>
      </setting>
      <setting name="PoolOSFamily" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PoolId" serializeAs="String">
        <value>HelloWorld-Pool</value>
      </setting>
      <setting name="ShouldDeleteJob" serializeAs="String">
        <value>True</value>
      </setting>
    </Microsoft.Azure.Batch.Samples.HelloWorld.Settings>
  </userSettings>
</configuration>