<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Microsoft.Azure.Batch.Samples.TextSearch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
	<userSettings>
		<Microsoft.Azure.Batch.Samples.TextSearch.Properties.Settings>
   <setting name="BatchServiceUrl" serializeAs="String">
    <value>https://batch.core.windows.net</value>
   </setting>
   <setting name="ShouldUploadResources" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShouldDeleteWorkItem" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RegularExpression" serializeAs="String">
    <value>I observe</value>
   </setting>
   <setting name="StorageServiceUrl" serializeAs="String">
    <value>core.windows.net</value>
   </setting>
   <setting name="BlobContainer" serializeAs="String">
    <value>TextSearchContainer</value>
   </setting>
   <setting name="BatchAccountName" serializeAs="String">
    <value />
   </setting>
   <setting name="BatchAccountKey" serializeAs="String">
    <value />
   </setting>
   <setting name="NumberOfMapperTasks" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="StorageAccountName" serializeAs="String">
    <value />
   </setting>
   <setting name="StorageAccountKey" serializeAs="String">
    <value />
   </setting>
  </Microsoft.Azure.Batch.Samples.TextSearch.Properties.Settings>
	</userSettings>
</configuration>